.card {
    font-family: 'Exo 2 Regular';
    box-shadow: 0.1px 0.1px 4px 0 #CCC;
    .header {
        background-color: #076E95;
        padding: 5px 20px;
        color: #FFF;
    }
    .content {
        padding: 20px;
    }
}