header {
    background-color: #076E95;
    font-family: 'Exo 2', 'Regular';
    font-size: 1.1em;
    color: #FFF;
    height: fit-content;
    div {
        display: inline-block;
    }
    .header-elem {
        color: #FFF;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        line-height: 0;
        img {
            margin-right: 9px;
        }
        &.selected {
            background: #FFF; 
            color: #076E95;
            img {
                filter: invert(.5) sepia(1) saturate(70) hue-rotate(175deg);
            }
        }
    }
}